<html>
<div class="navbar">
	<a href="index.html">Home</a>
	<div class="dropdown">
		<button class="dropbtn">Documents
		<i class="fa fa-caret-down"></i>
		</button>

		<div class="dropdown-content">
			<a href="Documents.html">Documents</a>
			<a href="Documents.html">Document 2</a>
			<a href="Documents.html">Year 2 Ethical Hacking Report</a>
			<a href="Year 3 ethical hack.html">Year 3 Ethical Hacking Report</a>
			<a href="Year 3 ProjectPlanning.html">Year 3 Project Development Design & Planning</a>
			<a href="Year 3 Networking.html">Year 3 Networking</a>
			<a href="Documents.html">Year 3 Project Development Design & Planning</a>
		</div>
	</div>
<!--	<div class="dropdown"> -->

	<!--	<button class="dropbtn">Code
		<i class="fa fa-caret-down"></i>
		</button>

		<div class="dropdown-content"> -->
			<a href="">Code</a>
		<!-- </div> -->
<!--	</div> -->

	<div class="dropdown">
		<button class="dropbtn">Extras
		<i class="fa fa-caret-down"></i>
		</button>

		<div class="dropdown-content">
			<a href="">extras</a>
			
		</div>
	</div>


</div> 
</html>
