<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">My time prior to University</h2>
                <hr class="light">
                <p class="text-faded">I was an International Baccalaureate student at Anglo European School in Chelmsford. I was able to learn many things by taking on a variety of higher and standard level calsses. Furthermore, through the required C.A.S (creative, action, service) electives I was able to help Key Stage 3 students learn programming in Python - which in turn helped me get a firmer grip on programming as I was teaching.
		</p>
		
		<br/> <br/> <br/>
                <h2 class="section-heading">My time at Abertay University</h2>
                <hr class="light">
                <p class="text-faded">While at University I was able to learn many things about my degree, about my peers,and so much more.
		While studying, I was able to learn how to program in C++, Python and Java, as well as dabbled in Perl. These were languages that were required by my degree, but I also took the time to further my understanding of each one and continued to develop projects using them.
		<br/> Furthermore, I took the opportunity to get to know my fellow peers through the Ethical Hacking Society as well as through becoming a Peer Mentor and working with students from various computing degrees in different stages. Furthermore, continuing my growth through the Principal's Award where I was able to undertake workshops and enahnce my employability.
		</p>
                <a class="page-scroll" href="#portfolio" class="btn btn-default btn-xl">Have a look!</a>
            </div>
        </div>
    </div>
</section>
