<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h4 class="section-heading">Images provided by:</h4>
                <hr class="primary">
                <p>Unsplash Free Images!</p>
            </div>
        <div class="col-lg-2 col-lg-offset-2 text-center">
           
                <a href="https://unsplash.com/photos/I_pOqP6kCOI">
                <p>Free Stocks</p>
            </a>
        </div>
        <div class="col-lg-2 col-lg-offset-1 text-center">
            
            	<a href="https://unsplash.com/photos/gnyA8vd3Otc">
                <p>Shahadat Rahman</p>
            </a>
        </div>
        <div class="col-lg-2 col-lg-offset-1 text-center">
            
            	<a href="https://unsplash.com/photos/VH_L_H4w7U8">
                <p>Petter Lagson</p>
            </a>
        </div>

        <div class="col-lg-2 col-lg-offset-1 text-center">
            
            	<a href="https://unsplash.com/photos/FO7JIlwjOtU?utm_source=unsplash&utm_medium=referral&utm_content=creditShareLink">
                <p>	Alexandre Debieve</p>
            </a>
        </div>
        <div class="col-lg-2 col-lg-offset-1 text-center">
            
            <a href="https://unsplash.com/photos/SYTO3xs06fU">
                <p>	Marvin Meyer</p>
            </a>
        </div>

    </div>
</section>
