<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>A place for Selina's work</h1>
            <hr>
            <p>You will find all the work that I have completed over the years while studying Ethical Hacking (EH) at Abertay University, Dundee!</p>
            <a href="#EthicalHackingExploitDevelopment" class="btn btn-primary btn-xl page-scroll">EH Exploit Development</a>
	    <p></p>
            <a href="#EthicalHackingMalwareAnalysis" class="btn btn-primary btn-xl page-scroll">EH Malware Analysis</a>
	    <p></p>
            <a href="#WebAppHacking" class="btn btn-primary btn-xl page-scroll">EH Website App Hacking</a>
	    <p>
	    </p>
            <a href="#MobileApplicationDevelopment" class="btn btn-primary btn-xl page-scroll">Mobile Application Development</a>
        </div>
    </div>
</header>
