<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>A place for Selina's work</h1>
            <hr>
            <p>You will find all the work that I have completed over the years while studying Ethical Hacking at Abertay University, Dundee!</p>
            <a href="#Ethical Hacking Exploit Development" class="btn btn-primary btn-xl page-scroll">Ethical Hacking Exploit Development</a>
            <a href="#Ethical Hacking Malware Analysis" class="btn btn-primary btn-xl page-scroll">Ethical Hacking Malware Analysis</a>
            <a href="#Web App Hacking" class="btn btn-primary btn-xl page-scroll">Web App Hacking</a>
            <a href="#Mobile Application Development" class="btn btn-primary btn-xl page-scroll">Mobile Application Development</a>
        </div>
    </div>
</header>
